.navbar {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 10;
}


.navbar-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    gap:20px;
    margin-right: 10px;

}

.navbar-logo{
    left:20px;
    
}

.navbar-logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.navbar-title{
    font-size: 24px;
    font-weight: bold;
    color:black
}

.navbar-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 40px;
    gap: 20px;
}

.navbar-item{
    font-size: 18px;
    color: black;
    text-decoration: none;
}