.product-background {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: black;

    display: flex;
    box-sizing: border-box;
    /*  center horizontal */
    justify-content: center;
    /* center vertical */
    align-items: center;

}

.product-container {
    justify-content: center;
    align-items: center;
    width: 98%;
    /* height: 97%; */
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 20% 30%, #1b1464, #0d0740 70%);
    border-radius: 20px;

    margin-bottom: 50px;
}

.product-container h1{
    color: #f1d47c;
    margin-bottom: 0;
    margin-top: 100px;
}



.product-card-container {
    /* justify-content: center;
    align-items: center; */
    width: 90%;
    /* height: 90%; */
    display: grid;
     grid-template-columns: repeat(2, 1fr); 
    /* grid-template-rows: repeat(2, 1fr);  */

    gap: 50px;
    /* flex-direction: row; */
   padding: 30px;
    overflow: hidden;
    margin-bottom: 30px;
    /* flex-wrap: wrap; */

}

.product-card {
    /* width: calc((100% - 60px) / 2);
    min-width: 0;
    height: 350px; */

width: 100%;
height: 350px;

   
    

  background: linear-gradient(to bottom right, #ecda9e, #F4E7C3);
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    border-radius: 30px;
    border:3px solid #f2c94c;
    box-shadow: 0 4px 6px rgba(238, 183, 2, 0.452);
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;

}

.product-card h2 {
    font-size: 35px;
    margin: 0 0 10px 0;
    height: 76px;
    line-height: 1.2;
    
    font-weight: bold;
    color: black;

    
    
}

.product-card p {
    font-size: 20px;
    color: black;
    line-height: 1.4;
    margin:0;
    height: 150px;
}


@media (max-width: 900px) {
    .product-card {
        height: auto;         
    }

    .product-card p {
        height: auto;          
        -webkit-line-clamp: unset;
        overflow: visible;
    }

    .product-card h2 {
        height: auto;
        -webkit-line-clamp: unset;
    }
}


/* mobile layout */
@media (max-width: 900px) {

    .product-container{
        margin-top: 20px;
    }

    .product-card-container {
        grid-template-columns: 1fr;
        gap: 30px; 
        
    }

    .product-container h1 {
        margin-top: 60px;
        font-size: 32px;
    }

    .product-card {
        padding: 20px;
        border-radius: 20px;
    }

    .product-card h2 {
        font-size: 26px;
    }

    .product-card p {
        font-size: 16px;
        line-height: 1.5;
    }
}
